<div class="transfer-form">
  <fieldset>
    <legend>Transfer $$$'s to an Internet Friend</legend>
    <label for="amount">Amount</label>
    <input name="amount" class="amount" value="0.0"/>
    <label for="email">Your Friend's Email Address</label>
    <input name="email" minlength="35" class="email"/>
    <button name="send" class="send">Send</button>
  </fieldset>
</div>