.transactions .credit {
  flex-basis: 35em;
  border: 0.1em solid #2e2f30;
  margin: 0.5em;
  padding: 1em;
  background-color: lightgreen;
}

.transactions span,
.transactions time {
  padding: 2em;
}

.transactions .type {
  text-transform: uppercase;
  font-style: italic;
}

.transactions .amount {
  text-align: right;
}
